<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
   <div class="d-flex bg-brown justify-content-around py-5">
      <div class="mt-5 pt-5">
         <h1 class="display-4 fw-bold">A PLACE IS <br> NOT A PLACE</h1>
         <div class="fw-bold text-warning">UNTIL IT HAS A BOOK STORE</div>
      </div>
      <img
         src="https://media.istockphoto.com/photos/white-blank-book-cover-mockup-with-pen-coffee-cup-plant-on-white-picture-id1341781289?b=1&k=20&m=1341781289&s=170667a&w=0&h=ptK9AfYPNQ1NP35vKUtfur0WBOrCmm9R36TGazeFITM=" alt="">
   </div>
   </div>
   <div class="mx-5  mt-5">
      <div>
         <%if(trendingBooks.length > 0 || books.length > 0){ %>
         <% if(trendingBooks.length > 0){ %>
            <div class="bg-white shadow-sm rounded p-3 mt-3">
         <h2 class="collor text-capitalize container">Trending Books <span class="display-6"> &#8594</span></h2>
        <div class="container">
            <div class="row">
            <% for(let book of trendingBooks){ %>
            <div class="col-3">
               <div class="card p-2 m-2 border-0 shadow-sm collor w-100">
               <img src="<%= book.imgUrl %>" alt="image">
               <h5 class="fw-bold text-capitalize mt-1"><%= book.title %></h5>
               <p class="fw-bold"><span>&#x20A6</span><%= book.price %></p>
               <div class="d-flex">
                  <form action="/buy" method="POST">
                     <input type="hidden" value="<%= book.id %>" name="bookId">
                     <input type="hidden" value="<%= book.category %>" name="bookCategory">
                   <button class="btn bg-white shadow-sm">Buy</button>
                  </form>
                  <a class="btn bg-white shadow-sm mx-2" href="/cart/<%= book.id %>/<%= book.category %>">Add To Cart</a>
               </div>
            </div>
            </div>
            <% } %>
         </div>
        </div>
         </div>
         <% }%>
         <% if(books.length > 0){ %>
            <div class="bg-white shadow-sm rounded p-3 mt-3">
         <h2 class="collor text-capitalize container">Best Selling Books <span class="display-6"> &#8594</span></h2>
        <div class="container">
            <div class="row">
            <% for(let book of books){ %>
            <div class="col-3">
               <div class="card p-2 m-2 border-0 shadow-sm collor w-100">
               <img src="<%= book.imgUrl %>" alt="image">
               <h5 class="fw-bold text-capitalize mt-1"><%= book.title %></h5>
               <p class="fw-bold"><span>&#x20A6</span><%= book.price %></p>
               <div class="d-flex">
                  <form action="/buy" method="POST">
                     <input type="hidden" value="<%= book.id %>" name="bookId">
                     <input type="hidden" value="<%= book.category %>" name="bookCategory">
                   <button class="btn bg-white shadow-sm">Buy</button>
                  </form>
                  <a class="btn bg-white shadow-sm mx-2" href="/cart/<%= book.id %>/<%= book.category %>">Add To Cart</a>
               </div>
            </div>
            </div>
            <% } %>
         </div>
        </div>
         </div>
         <% }%>

         <% }else{ %>
         <h1 class="collor">Books are not Available, Visit <a href="/admin/add-book" class="text-decoration-none text-warning home">Add book</a> to add book</h1>
         <% } %>
      </div>
   </div>



</main>
<%- include('../includes/end.ejs') %>